In [1]:
import pandas as pd
import numpy as np

In [2]:
prod = pd.read_csv('../../product_master.csv')
prod

,bravo_ww_fran_name,bravo_fran_name,bravo_sub_fran_name,bravo_major_name,bravo_minor_name,product_code
0,bravo_ww_fran_name_0,bravo_fran_name_0,bravo_sub_fran_name_0,bravo_major_name_0,bravo_minor_name_0,product_code_0
1,bravo_ww_fran_name_1,bravo_fran_name_1,bravo_sub_fran_name_1,bravo_major_name_1,bravo_minor_name_1,product_code_1
2,bravo_ww_fran_name_2,bravo_fran_name_2,bravo_sub_fran_name_2,bravo_major_name_2,bravo_minor_name_2,product_code_2
3,bravo_ww_fran_name_2,bravo_fran_name_2,bravo_sub_fran_name_2,bravo_major_name_2,bravo_minor_name_2,product_code_3
4,bravo_ww_fran_name_0,bravo_fran_name_0,bravo_sub_fran_name_0,bravo_major_name_0,bravo_minor_name_0,product_code_4
...,...,...,...,...,...,...
24688,bravo_ww_fran_name_3,bravo_fran_name_16,bravo_sub_fran_name_19,bravo_major_name_22,bravo_minor_name_17,product_code_24688
24689,bravo_ww_fran_name_3,bravo_fran_name_16,bravo_sub_fran_name_19,bravo_major_name_22,bravo_minor_name_17,product_code_24689
24690,bravo_ww_fran_name_3,bravo_fran_name_16,bravo_sub_fran_name_19,bravo_major_name_22,bravo_minor_name_17,product_code_24690
24691,bravo_ww_fran_name_3,bravo_fran_name_16,bravo_sub_fran_name_19,bravo_major_name_22,bravo_minor_name_17,product_code_24691
24692,bravo_ww_fran_name_3,bravo_fran_name_16,bravo_sub_fran_name_19,bravo_major_name_22,bravo_minor_name_49,product_code_24692

In [3]:
stock = pd.read_csv('../../stock.csv',decimal=",") 
stock

c:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,country_code,cac,product_code,month_code,invoiced_sales,volume_primary_units,inventory_cost
0,country_code_0,cac_0,product_code_0,190001.0,0.0,0.0,0.000000
1,country_code_0,cac_0,product_code_1,190001.0,0.0,0.0,0.000000
2,country_code_0,cac_0,product_code_2,190001.0,0.0,0.0,0.000000
3,country_code_0,cac_0,product_code_3,190001.0,0.0,0.0,0.000000
4,country_code_0,cac_0,product_code_4,190001.0,0.0,0.0,0.000000
...,...,...,...,...,...,...,...
5199681,country_code_2,cac_9503,product_code_477,201804.0,467.8,2.0,258.380000
5199682,country_code_1,cac_9481,product_code_5669,190001.0,0.0,0.0,0.000000
5199683,country_code_3,cac_9449,product_code_2004,201807.0,142.8,1.0,59.493563
5199684,country_code_3,cac_9449,product_code_3602,201902.0,61.8,1.0,11.888895
5199685,country_code_3,cac_9501,product_code_57985,NaN,NaN,NaN,NaN

In [4]:
stock.isna().sum()

country_code            0
cac                     0
product_code            0
month_code              1
invoiced_sales          1
volume_primary_units    1
inventory_cost          1
dtype: int64

In [5]:
stock = stock.dropna()

Outer join Ã© necessÃ¡rio porque hÃ¡ mais 'product_code' Ãºnicos no stock do que na lista de produtos

In [6]:
df = pd.merge(stock,prod,on='product_code',how='outer')
df

,country_code,cac,product_code,month_code,invoiced_sales,volume_primary_units,inventory_cost,bravo_ww_fran_name,bravo_fran_name,bravo_sub_fran_name,bravo_major_name,bravo_minor_name
0,country_code_0,cac_0,product_code_0,190001.0,0.000000,0.0,0.00000,bravo_ww_fran_name_0,bravo_fran_name_0,bravo_sub_fran_name_0,bravo_major_name_0,bravo_minor_name_0
1,country_code_0,cac_161,product_code_0,201907.0,74.448681,1,103.47000,bravo_ww_fran_name_0,bravo_fran_name_0,bravo_sub_fran_name_0,bravo_major_name_0,bravo_minor_name_0
2,country_code_0,cac_496,product_code_0,201805.0,0.000000,2,188.90000,bravo_ww_fran_name_0,bravo_fran_name_0,bravo_sub_fran_name_0,bravo_major_name_0,bravo_minor_name_0
3,country_code_0,cac_993,product_code_0,201801.0,0.000000,1,94.45000,bravo_ww_fran_name_0,bravo_fran_name_0,bravo_sub_fran_name_0,bravo_major_name_0,bravo_minor_name_0
4,country_code_0,cac_1995,product_code_0,201801.0,0.000000,1,94.45000,bravo_ww_fran_name_0,bravo_fran_name_0,bravo_sub_fran_name_0,bravo_major_name_0,bravo_minor_name_0
...,...,...,...,...,...,...,...,...,...,...,...,...
5199680,country_code_2,cac_9161,product_code_57980,190001.0,0.000000,0.0,0.00000,NaN,NaN,NaN,NaN,NaN
5199681,country_code_1,cac_9321,product_code_57981,201906.0,0.000000,2.0,877.61824,NaN,NaN,NaN,NaN,NaN
5199682,country_code_2,cac_9340,product_code_57982,190001.0,0.000000,0.0,0.00000,NaN,NaN,NaN,NaN,NaN
5199683,country_code_2,cac_9440,product_code_57983,190001.0,0.000000,0.0,0.00000,NaN,NaN,NaN,NaN,NaN
5199684,country_code_2,cac_9473,product_code_57984,190001.0,0.000000,0.0,0.00000,NaN,NaN,NaN,NaN,NaN

| feature | description |
| --- | --- |
|country_code | code of the country |
|cac | customer |
|product_code | product sold |
|month_code | year and month of the sale |
|currency_code | currency |
|invoiced_sales | sales |
|volume_primary_units | number of sold units |
|inventory_cost | cost of the product for the company (unitary cost multiplied by volume) |
|bravo_ww_fran_name | company designation for the global group |
|bravo_fran_name | company designation for a region of the group |
|bravo_sub_fran_name | company area |
|bravo_major_name | product family |
|bravo_minor_name | product sub-family |
|product_code | product code |

NÃ£o hÃ¡ duplicados

In [7]:
df[df.duplicated()]

Empty DataFrame
Columns: [country_code, cac, product_code, month_code, invoiced_sales, volume_primary_units, inventory_cost, bravo_ww_fran_name, bravo_fran_name, bravo_sub_fran_name, bravo_major_name, bravo_minor_name]
Index: []

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5199685 entries, 0 to 5199684
Data columns (total 12 columns):
 #   Column                Dtype
---  ------                -----
 0   country_code          object
 1   cac                   object
 2   product_code          object
 3   month_code            object
 4   invoiced_sales        float64
 5   volume_primary_units  object
 6   inventory_cost        float64
 7   bravo_ww_fran_name    object
 8   bravo_fran_name       object
 9   bravo_sub_fran_name   object
 10  bravo_major_name      object
 11  bravo_minor_name      object
dtypes: float64(2), object(10)
memory usage: 515.7+ MB

De aproximadamente 5.2 milhÃµes de entradas, 350 mil tem cÃ³digo de um produto nÃ£o listado na tabela de produtos e portanto serÃ£o removidos.

In [9]:
df.isnull().sum()

country_code                 0
cac                          0
product_code                 0
month_code                   0
invoiced_sales               0
volume_primary_units         0
inventory_cost               0
bravo_ww_fran_name      349261
bravo_fran_name         349261
bravo_sub_fran_name     349261
bravo_major_name        349261
bravo_minor_name        349261
dtype: int64

In [10]:
df = df.dropna()
df

,country_code,cac,product_code,month_code,invoiced_sales,volume_primary_units,inventory_cost,bravo_ww_fran_name,bravo_fran_name,bravo_sub_fran_name,bravo_major_name,bravo_minor_name
0,country_code_0,cac_0,product_code_0,190001.0,0.000000,0.0,0.000000,bravo_ww_fran_name_0,bravo_fran_name_0,bravo_sub_fran_name_0,bravo_major_name_0,bravo_minor_name_0
1,country_code_0,cac_161,product_code_0,201907.0,74.448681,1,103.470000,bravo_ww_fran_name_0,bravo_fran_name_0,bravo_sub_fran_name_0,bravo_major_name_0,bravo_minor_name_0
2,country_code_0,cac_496,product_code_0,201805.0,0.000000,2,188.900000,bravo_ww_fran_name_0,bravo_fran_name_0,bravo_sub_fran_name_0,bravo_major_name_0,bravo_minor_name_0
3,country_code_0,cac_993,product_code_0,201801.0,0.000000,1,94.450000,bravo_ww_fran_name_0,bravo_fran_name_0,bravo_sub_fran_name_0,bravo_major_name_0,bravo_minor_name_0
4,country_code_0,cac_1995,product_code_0,201801.0,0.000000,1,94.450000,bravo_ww_fran_name_0,bravo_fran_name_0,bravo_sub_fran_name_0,bravo_major_name_0,bravo_minor_name_0
...,...,...,...,...,...,...,...,...,...,...,...,...
4850419,country_code_0,cac_4795,product_code_24692,201803.0,418.057977,1,114.527702,bravo_ww_fran_name_3,bravo_fran_name_16,bravo_sub_fran_name_19,bravo_major_name_22,bravo_minor_name_49
4850420,country_code_0,cac_4507,product_code_24692,201906.0,418.057977,1,115.607989,bravo_ww_fran_name_3,bravo_fran_name_16,bravo_sub_fran_name_19,bravo_major_name_22,bravo_minor_name_49
4850421,country_code_0,cac_4795,product_code_24692,201805.0,836.115953,2,229.055405,bravo_ww_fran_name_3,bravo_fran_name_16,bravo_sub_fran_name_19,bravo_major_name_22,bravo_minor_name_49
4850422,country_code_0,cac_4795,product_code_24692,201802.0,2508.347859,6,687.166214,bravo_ww_fran_name_3,bravo_fran_name_16,bravo_sub_fran_name_19,bravo_major_name_22,bravo_minor_name_49
4850423,country_code_2,cac_8024,product_code_24692,201903.0,420.750000,1.0,115.607989,bravo_ww_fran_name_3,bravo_fran_name_16,bravo_sub_fran_name_19,bravo_major_name_22,bravo_minor_name_49

Torna-se necessÃ¡rio transformar a feature 'volume_primary_units' numÃ©rica em 'float' pois estÃ£o como 'object'. Entretanto hÃ¡ valores escritos com "," invÃ©s de ".".

In [11]:
df['volume_primary_units'] = df['volume_primary_units'].replace(',', '.', regex=True).astype(float)
#df['volume_primary_units'] = df['volume_primary_units'].replace('\,\d+', '', regex=True).astype(float)
#jÃ¡ nÃ£o Ã© necessÃ¡rio pois importou-se a "," como decimal 
#df['invoiced_sales'] = df['invoiced_sales'].replace('\,\d+', '', regex=True).astype(float)
#df['inventory_cost'] = df['inventory_cost'].replace('\,\d+', '', regex=True).astype(float)
df

C:\Users\898066\AppData\Local\Temp/ipykernel_25136/3387076388.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['volume_primary_units'] = df['volume_primary_units'].replace(',', '.', regex=True).astype(float)

,country_code,cac,product_code,month_code,invoiced_sales,volume_primary_units,inventory_cost,bravo_ww_fran_name,bravo_fran_name,bravo_sub_fran_name,bravo_major_name,bravo_minor_name
0,country_code_0,cac_0,product_code_0,190001.0,0.000000,0.0,0.000000,bravo_ww_fran_name_0,bravo_fran_name_0,bravo_sub_fran_name_0,bravo_major_name_0,bravo_minor_name_0
1,country_code_0,cac_161,product_code_0,201907.0,74.448681,1.0,103.470000,bravo_ww_fran_name_0,bravo_fran_name_0,bravo_sub_fran_name_0,bravo_major_name_0,bravo_minor_name_0
2,country_code_0,cac_496,product_code_0,201805.0,0.000000,2.0,188.900000,bravo_ww_fran_name_0,bravo_fran_name_0,bravo_sub_fran_name_0,bravo_major_name_0,bravo_minor_name_0
3,country_code_0,cac_993,product_code_0,201801.0,0.000000,1.0,94.450000,bravo_ww_fran_name_0,bravo_fran_name_0,bravo_sub_fran_name_0,bravo_major_name_0,bravo_minor_name_0
4,country_code_0,cac_1995,product_code_0,201801.0,0.000000,1.0,94.450000,bravo_ww_fran_name_0,bravo_fran_name_0,bravo_sub_fran_name_0,bravo_major_name_0,bravo_minor_name_0
...,...,...,...,...,...,...,...,...,...,...,...,...
4850419,country_code_0,cac_4795,product_code_24692,201803.0,418.057977,1.0,114.527702,bravo_ww_fran_name_3,bravo_fran_name_16,bravo_sub_fran_name_19,bravo_major_name_22,bravo_minor_name_49
4850420,country_code_0,cac_4507,product_code_24692,201906.0,418.057977,1.0,115.607989,bravo_ww_fran_name_3,bravo_fran_name_16,bravo_sub_fran_name_19,bravo_major_name_22,bravo_minor_name_49
4850421,country_code_0,cac_4795,product_code_24692,201805.0,836.115953,2.0,229.055405,bravo_ww_fran_name_3,bravo_fran_name_16,bravo_sub_fran_name_19,bravo_major_name_22,bravo_minor_name_49
4850422,country_code_0,cac_4795,product_code_24692,201802.0,2508.347859,6.0,687.166214,bravo_ww_fran_name_3,bravo_fran_name_16,bravo_sub_fran_name_19,bravo_major_name_22,bravo_minor_name_49
4850423,country_code_2,cac_8024,product_code_24692,201903.0,420.750000,1.0,115.607989,bravo_ww_fran_name_3,bravo_fran_name_16,bravo_sub_fran_name_19,bravo_major_name_22,bravo_minor_name_49

Alterar formato do 'month_code' para ano e mÃªs.

In [12]:
df['month_code'] = pd.to_datetime(df['month_code'].astype(float).astype(int), format='%Y%m')
df

C:\Users\898066\AppData\Local\Temp/ipykernel_25136/233735064.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['month_code'] = pd.to_datetime(df['month_code'].astype(float).astype(int), format='%Y%m')

,country_code,cac,product_code,month_code,invoiced_sales,volume_primary_units,inventory_cost,bravo_ww_fran_name,bravo_fran_name,bravo_sub_fran_name,bravo_major_name,bravo_minor_name
0,country_code_0,cac_0,product_code_0,1900-01-01,0.000000,0.0,0.000000,bravo_ww_fran_name_0,bravo_fran_name_0,bravo_sub_fran_name_0,bravo_major_name_0,bravo_minor_name_0
1,country_code_0,cac_161,product_code_0,2019-07-01,74.448681,1.0,103.470000,bravo_ww_fran_name_0,bravo_fran_name_0,bravo_sub_fran_name_0,bravo_major_name_0,bravo_minor_name_0
2,country_code_0,cac_496,product_code_0,2018-05-01,0.000000,2.0,188.900000,bravo_ww_fran_name_0,bravo_fran_name_0,bravo_sub_fran_name_0,bravo_major_name_0,bravo_minor_name_0
3,country_code_0,cac_993,product_code_0,2018-01-01,0.000000,1.0,94.450000,bravo_ww_fran_name_0,bravo_fran_name_0,bravo_sub_fran_name_0,bravo_major_name_0,bravo_minor_name_0
4,country_code_0,cac_1995,product_code_0,2018-01-01,0.000000,1.0,94.450000,bravo_ww_fran_name_0,bravo_fran_name_0,bravo_sub_fran_name_0,bravo_major_name_0,bravo_minor_name_0
...,...,...,...,...,...,...,...,...,...,...,...,...
4850419,country_code_0,cac_4795,product_code_24692,2018-03-01,418.057977,1.0,114.527702,bravo_ww_fran_name_3,bravo_fran_name_16,bravo_sub_fran_name_19,bravo_major_name_22,bravo_minor_name_49
4850420,country_code_0,cac_4507,product_code_24692,2019-06-01,418.057977,1.0,115.607989,bravo_ww_fran_name_3,bravo_fran_name_16,bravo_sub_fran_name_19,bravo_major_name_22,bravo_minor_name_49
4850421,country_code_0,cac_4795,product_code_24692,2018-05-01,836.115953,2.0,229.055405,bravo_ww_fran_name_3,bravo_fran_name_16,bravo_sub_fran_name_19,bravo_major_name_22,bravo_minor_name_49
4850422,country_code_0,cac_4795,product_code_24692,2018-02-01,2508.347859,6.0,687.166214,bravo_ww_fran_name_3,bravo_fran_name_16,bravo_sub_fran_name_19,bravo_major_name_22,bravo_minor_name_49
4850423,country_code_2,cac_8024,product_code_24692,2019-03-01,420.750000,1.0,115.607989,bravo_ww_fran_name_3,bravo_fran_name_16,bravo_sub_fran_name_19,bravo_major_name_22,bravo_minor_name_49

In [14]:
df.describe()

       invoiced_sales  volume_primary_units  inventory_cost
count    4.850424e+06          4.850424e+06    4.850424e+06
mean     4.853402e+02          2.739721e+01    1.327730e+02
std      1.781583e+03          1.693938e+02    5.403255e+02
min     -3.990631e+05         -6.440000e+03   -4.804762e+04
25%      3.516000e+01          1.000000e+00    1.141474e+01
50%      1.415359e+02          2.000000e+00    4.161991e+01
75%      4.243200e+02          1.200000e+01    1.184500e+02
max      3.708568e+05          1.038000e+05    3.291600e+05

O valor de data em '1900-01-01' Ã© estranho e indica que nÃ£o foi preenchido, portanto verificaremos o que hÃ¡ preenchido nas outras features equivalentes.

In [17]:
df[df['month_code']=='1900-01-01']['invoiced_sales'].value_counts()

0.00       285374
124.23          9
213.70          8
934.20          6
468.80          6
            ...
1042.68         1
2344.00         1
1038.29         1
1778.40         1
645.00          1
Name: invoiced_sales, Length: 601, dtype: int64

In [13]:
df[df['month_code']=='1900-01-01'].describe()

       invoiced_sales  volume_primary_units  inventory_cost
count   286125.000000         286125.000000        286125.0
mean         1.894083              0.182679             0.0
std         67.073871              7.217743             0.0
min       -884.370000             -3.000000             0.0
25%          0.000000              0.000000             0.0
50%          0.000000              0.000000             0.0
75%          0.000000              0.000000             0.0
max      19042.900000           2556.000000             0.0

Conclui-se que dos cerca de 286 mil a grande maioria das datas em 1900 tambÃ©m tem valores numÃ©ricos em 0, e portanto removeremos todos pois nÃ£o representa grande perda no dataset com mais de 4.8 milhÃµes de entradas.

In [18]:
df = df.loc[df['month_code']!='1900-01-01']
df.reset_index(drop=True,inplace=True)
df

,country_code,cac,product_code,month_code,invoiced_sales,volume_primary_units,inventory_cost,bravo_ww_fran_name,bravo_fran_name,bravo_sub_fran_name,bravo_major_name,bravo_minor_name
0,country_code_0,cac_161,product_code_0,2019-07-01,74.448681,1.0,103.470000,bravo_ww_fran_name_0,bravo_fran_name_0,bravo_sub_fran_name_0,bravo_major_name_0,bravo_minor_name_0
1,country_code_0,cac_496,product_code_0,2018-05-01,0.000000,2.0,188.900000,bravo_ww_fran_name_0,bravo_fran_name_0,bravo_sub_fran_name_0,bravo_major_name_0,bravo_minor_name_0
2,country_code_0,cac_993,product_code_0,2018-01-01,0.000000,1.0,94.450000,bravo_ww_fran_name_0,bravo_fran_name_0,bravo_sub_fran_name_0,bravo_major_name_0,bravo_minor_name_0
3,country_code_0,cac_1995,product_code_0,2018-01-01,0.000000,1.0,94.450000,bravo_ww_fran_name_0,bravo_fran_name_0,bravo_sub_fran_name_0,bravo_major_name_0,bravo_minor_name_0
4,country_code_0,cac_4072,product_code_0,2018-02-01,0.000000,5.0,472.250000,bravo_ww_fran_name_0,bravo_fran_name_0,bravo_sub_fran_name_0,bravo_major_name_0,bravo_minor_name_0
...,...,...,...,...,...,...,...,...,...,...,...,...
4564294,country_code_0,cac_4795,product_code_24692,2018-03-01,418.057977,1.0,114.527702,bravo_ww_fran_name_3,bravo_fran_name_16,bravo_sub_fran_name_19,bravo_major_name_22,bravo_minor_name_49
4564295,country_code_0,cac_4507,product_code_24692,2019-06-01,418.057977,1.0,115.607989,bravo_ww_fran_name_3,bravo_fran_name_16,bravo_sub_fran_name_19,bravo_major_name_22,bravo_minor_name_49
4564296,country_code_0,cac_4795,product_code_24692,2018-05-01,836.115953,2.0,229.055405,bravo_ww_fran_name_3,bravo_fran_name_16,bravo_sub_fran_name_19,bravo_major_name_22,bravo_minor_name_49
4564297,country_code_0,cac_4795,product_code_24692,2018-02-01,2508.347859,6.0,687.166214,bravo_ww_fran_name_3,bravo_fran_name_16,bravo_sub_fran_name_19,bravo_major_name_22,bravo_minor_name_49
4564298,country_code_2,cac_8024,product_code_24692,2019-03-01,420.750000,1.0,115.607989,bravo_ww_fran_name_3,bravo_fran_name_16,bravo_sub_fran_name_19,bravo_major_name_22,bravo_minor_name_49

In [19]:
df.to_csv('../../merged_clean_df.csv')